<div class="container">
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default">Profile</button>

</div>

<div class="jumbotron">

  <h1>BookFace</h1>
  </div>


<div class="input-group" style="width:400px;">
  <form>
	  <input id="inputpersonsearch" type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
	  <span><button id="personSearch" type="submit">Search</button></span>
  </form>
   
</div>


</div>
