<div class="header" style="margin-left: 150px;">
  
  <form>
	  <input type="text" class="form-control-1" id="name" name="name" placeholder="Enter Name" aria-describedby="basic-addon1">
	  <span class="input-group-addon-1" id="basic-addon1"><button id="searchUser" type="submit">Search User</button></span>
  </form>

</div>