<div class="container">
<div class="header" style="margin-left: 150px;">
  <ul class="nav nav-tabs">
  <li role="presentation"><a href="/friend-book/register">Home</a></li>
  	<li role="presentation"><a href="/friend-book/search">Search</a></li>
	  <li role="presentation" class="active"><a href="/friend-book/login">Login</a></li>
	  <li role="presentation"><a href="/friend-book/register">Register</a></li>
  </ul>
 <form action="/friend-book/login" method="POST">
 
	  <input id="username" name="username" type="text" class="form-control-2" placeholder="Enter Username" aria-describedby="basic-addon2">

	  <input id="password" name="password" type="password" class="form-control-3" placeholder="Enter Password" aria-describedby="basic-addon3">

	  <button type="submit" id="login">Login</button>
  </form>
  </div>