 <form action="/friend-book/login" method="POST">
 
	  <input id="username" name="username" type="text" class="form-control-2" placeholder="Enter Username" aria-describedby="basic-addon2">

	  <input id="password" name="password" type="password" class="form-control-3" placeholder="Enter Password" aria-describedby="basic-addon3">

	  <button type="submit" id="login">Login</button>
  </form>