<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img style="float:left;" src="/assets/images/hen.jpg" alt="cat" class="img-circle" width="400px" height="300px/">
      <div class="caption">
        <h3 style="margin-left: 105px;">Name: {{this.name}}</h3>
        <h2>Email Address: {{this.email}}</h2>
        <h2>Description: {{this.description}} </h2>
      </div>
      <div>
        <h1> {{this.username}}'s Wall</h1>
        <div>
          Need to decide how messages users wall will be displayed.
        </div>
      </div>
      </div>
    </div>
  </div>
</div>