<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img style="float:left;" src="/assets/images/hen.jpg" alt="cat" class="img-circle" width="400px" height="300px/">
      <div class="caption">
        <h3 style="padding-top: 15px;">Name: {{this.name}}</h3>
        <h2>Email Address: {{this.email}}</h2>
        <h2>Description: {{this.description}} </h2>
      </div>
      <div>
        <h1> {{this.username}}'s Wall</h1>
        <div>
          Need to decide how messages users wall will be displayed.
          <form action="/friend-book/test" method="GET" class="testbutton">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Goto TEST</button>
          </form>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>