<div class="container">
<div class="header" style="margin-left: 150px;">
  <ul class="nav nav-tabs">
  	<li role="presentation"><a href="/friend-book/">Search</a></li>
	  <li role="presentation" ><a href="/friend-book/login">Login</a></li>
	  <li role="presentation" class="active"><a href="/friend-book/register">Register</a></li>
  </ul>

 <form>
	  <input id="name" type="text" class="form-control-1" placeholder="Enter Name" aria-describedby="basic-addon1">

	  <input id="username" type="text" class="form-control-2" placeholder="Enter Username" aria-describedby="basic-addon2">

	  <input id="password" type="password" class="form-control-3" placeholder="Enter Password" aria-describedby="basic-addon3">
	  <input id="password2" type="password" class="form-control-4" placeholder="Enter Password" aria-describedby="basic-addon4">

	  <input id="email" type="email" class="form-control-5" placeholder="Enter Email" aria-describedby="basic-addon5">

	  <input id="description" type="text" class="form-control-6" placeholder="Description" aria-describedby="basic-addon6">

	  <button id="register">Register</button>
  </form>

</div>